.error {
    color: $red;
}



html body {
    font-family: 'Raleway', sans-serif;;
}


.alltitle {
    text-align: center;
    font-weight: bold;
}

.boxlink {
    color: #05c46b;
    text-decoration: underline;
    font-weight: bold;
}

.boxlink a:hover {
    color: #1e272e;
}

.biggername {
    font-size: 1.5em;
    font-weight: bold;
}